{% extends '@App/base.html.twig' %}

{% block body %}
    <section>
        <!-- *** HOMEPAGE CAROUSEL ***
_________________________________________________________ -->

        <div class="home-carousel">

            <div class="wow fadeInLeft dark-mask" data-wow-duration="1000ms"></div>

            <div class="container">
                <div class="homepage owl-carousel">
                    <div class="item ">
                        <div class="ro">

                            <div class="col-sm-6 text-center ">
                                <img class="wow bounceInLeft img-responsive" data-wow-delay="1000ms" style="    border: solid 10px #fff;" src="{{ asset('images/fotolia_72253529.jpg') }}" alt="">
                            </div>

                            <div class="col-sm-5">
                                <h2 class="wow bounceInRight" data-wow-delay="1000ms">Réservez vite nos parkings disponibles en Ile de France</h2>
                                <button class="btn btn-default wow bounceInRight" data-wow-delay="1000ms"><a href="reservations.php">VOIR ICI</a></button>
                            </div>

                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-sm-5 right">
                                <h2>FLASHPARKING</h2>
                                <p>la solution pour réserver votre parking en toute tranquilité
                                </p>
                            </div>
                            <div class="col-sm-7">
                                <img class="img-responsive" style="    border: solid 10px #fff;" src="{{ asset('images/fotolia_96311358.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-sm-5 right">
                                <p>Une application mobile pour vous faciliter encore plus la vie</p>
                            </div>
                            <div class="col-sm-7">
                                <img class="img-responsive" src="{{ asset('images/parking-api-1.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <!--<div class="item">
                        <div class="row">
                            <div class="col-sm-7">
                                <img class="img-responsive" src="img/template-easy-code.png" alt="">
                            </div>
                            <div class="col-sm-5">
                                <h1>Easy to customize</h1>
                                <ul class="list-style-none">
                                    <li>7 preprepared colour variations.</li>
                                    <li>Easily to change fonts</li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                </div>
                <!-- /.project owl-slider -->
            </div>
        </div>

        <!-- *** HOMEPAGE CAROUSEL END *** -->
    </section>

    <section class="bar background-white">
        <div class="container">
            <div class="col-md-12">


                <div class="row">
                    <div class="col-md-4">
                        <div class="box-simple">
                            <h3>SECURITE</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit libero, commodo id dignissim ut, iaculis non dolor.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-simple">
                            <h3>CONFORT</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit libero, commodo id dignissim ut, iaculis non dolor.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box-simple">
                            <h3>DISPONIBILITE</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit libero, commodo id dignissim ut, iaculis non dolor.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="bar background-pentagon no-mb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading text-center">
                        <h2 style="color:#fff;">Les avis de nos clients</h2>
                    </div>

                    <p style="color:#fff;" class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit libero, commodo id dignissim ut, iaculis non dolor.</p>


                    <!-- *** TESTIMONIALS CAROUSEL ***
_________________________________________________________ -->

                    <ul class="owl-carousel testimonials same-height-row">
                        <li class="item wow fadeInUp" data-wow-delay="0s">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit libero, commodo id dignissim ut, iaculis non dolor.</p>
                                </div>
                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="{{ asset('images/person-1.jpg') }}">
                                        <h5>John McIntyre</h5>
                                        <p>CEO, TransTech</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item wow fadeInUp" data-wow-delay="500ms">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl urna, faucibus ac elit nec, aliquam iaculis sem. Donec condimentum mauris a diam vestibulum, non placerat elit consequat. Vestibulum dictum metus nec lacus molestie, at ornare leo congue.</p>
                                </div>
                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="{{ asset('images/person-2.jpg') }}">
                                        <h5>John McIntyre</h5>
                                        <p>CEO, TransTech</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item wow fadeInUp" data-wow-delay="1000ms">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl urna, faucibus ac elit nec, aliquam iaculis sem. Donec condimentum mauris a diam vestibulum, non placerat elit consequat. Vestibulum dictum metus nec lacus molestie, at ornare leo congue.</p>

                                </div>
                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="{{ asset('images/person-3.png') }}">
                                        <h5>John McIntyre</h5>
                                        <p>CEO, TransTech</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item wow fadeInUp" data-wow-delay="1500ms">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisl urna, faucibus ac elit nec, aliquam iaculis sem. Donec condimentum mauris a diam vestibulum, non placerat elit consequat. Vestibulum dictum metus nec lacus molestie, at ornare leo congue.</p>
                                </div>

                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="{{ asset('images/person-4.jpg') }}">
                                        <h5>John McIntyre</h5>
                                        <p>CEO, TransTech</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="testimonial same-height-always">
                                <div class="text">
                                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull
                                        weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made
                                        him feel quite sad.</p>
                                </div>

                                <div class="bottom">
                                    <div class="icon"><i class="fa fa-quote-left"></i>
                                    </div>
                                    <div class="name-picture">
                                        <img class="" alt="" src="{{ asset('images/person-4.jpg') }}">
                                        <h5>John McIntyre</h5>
                                        <p>CEO, TransTech</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- /.owl-carousel -->

                    <!-- *** TESTIMONIALS CAROUSEL END *** -->
                </div>

            </div>
        </div>
    </section>
    <!-- /.bar -->

    <!--<section class="bar background-image-fixed-2 no-mb color-white text-center">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="icon icon-lg"><i class="fa fa-file-code-o"></i>
                    </div>
                    <h3 class="text-uppercase">Do you want to see more?</h3>
                    <p class="lead">We have prepared for you more than 40 different HTML pages, including 5 variations of homepage.</p>
                    <p class="text-center">
                        <a href="index2.html" class="btn btn-template-transparent-black btn-lg">Check other homepage</a>
                    </p>
                </div>

            </div>
        </div>
    </section>-->



    <section class="bar background-gray no-mb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading text-center">
                        <h2>Nos partenaires</h2>
                    </div>

                    <ul class="owl-carousel customers">
                        <li class="item">
                            <img src="{{ asset('images/customer-1.png') }}" alt="" class="img-responsive">
                        </li>
                        <li class="item">
                            <img src="{{ asset('images/logo-aquaboulevard-222.png') }}" style="margin-top:20px;" alt="" class="img-responsive">
                        </li>
                        <li class="item">
                            <img src="{{ asset('images/customer-3.png') }}" alt="" class="img-responsive">
                        </li>
                        <li class="item">
                            <img src="{{ asset('images/customer-4.png') }}" alt="" class="img-responsive">
                        </li>
                        <li class="item">
                            <img src="{{ asset('images/customer-5.png') }}" alt="" class="img-responsive">
                        </li>
                        <li class="item">
                            <img src="{{ asset('images/customer-6.png') }}" alt="" class="img-responsive">
                        </li>
                    </ul>
                    <!-- /.owl-carousel -->
                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
